body {
  font-family: "Source Sans Pro" , sans-serif;
  margin: 0;
  background: #f1f5f9;
}
header, footer {
  background: #843f78;
  color: #fff;
  padding: 32px;
}
nav a {
  color: #fff;
  margin-right: 16px;
  text-decoration: none;
}
main {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 24px;
}
section {
  background: #fff;
  padding: 24px;
  border-radius: 12px;
  margin-bottom: 24px;
}
