body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  background: #f1f5f9;
}
header, footer {
  background: #caa7c5;
  color: #3b3b3b;
  font-family: DynaPuff;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

nav a {
  color: #3b3b3b;
  margin-right: 16px;
  text-decoration: none;
  font-family: DynaPuff;
}

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 24px;
}

section {
  background: #fff;
  padding: 24px;
  border-radius: 12px;
  margin-bottom: 24px;
}

@font-face {
  font-family: DynaPuff;
  src: url(DynaPuff-VariableFont_wdth,wght.ttf);
}

.navbar {
  display: flex; /* or inline-flex */
  justify-content: space-evenly;
  align-items: center;
  font-size: 25px
}

